body{
  background: #eee;
  margin: 0;
  padding: 0;
}

nav, section, header, footer{
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  padding-left: 15px;
  padding-right: 15px;
}

header{
  text-align: center;
}

header img, footer img{
  height: 50px;
  margin: 15px;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li{
  padding: 0;
  margin: 15px;
}

section form{
  margin: 15px;
}

section form input{
  margin-bottom: 15px;
}

footer p{
  font-family: "times new roman";
  padding: 5px;
  font-size: 14px;
}

footer .footer-logo{
  text-align: center;
  vertical-align: bottom;
}

footer img[title="ANEEL"]{
  height: 100px;
}

footer img[title="ANEEL"]{
  height: 100px;
}

footer img[title="LABREN"], footer img[title="INPE"]{
  height: 65px;
}
