body{
  margin: 0;
  padding: 0;
  font-family: arial;
  color: #fff;
  background: #444;
}

header .logo{
  background: #ddd;
  text-align: center;
}

header .logo img{
  height: 35px;
  margin: 5px;
}

header h1{
  width: 100%;
  margin: 5px 0 5px 0;
  text-align: center;
}

section.tabela{
  width:100%;
  color: #ddd;
}

section.tabela div.tabela{
  background: #333;
  margin: 10px;
  padding: 5px 0;
}

.tabela h1{
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

.tabela table th[rowspan="2"]{
  vertical-align: middle;
}

@media screen and (min-width: 1270px) {
  body{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  section.tabela{
    width:50%;
    height: 43%;
    float: left;
  }

  section.tabela div.tabela{
    height: 95%;
  }

@media screen and (min-width: 1270px) and (max-height: 890px){
  section.tabela div.tabela{
    overflow: scroll;
  }
}
