{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>LABENS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style-index.css' %}" />
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
</head>
<body>
  <header>
    <a href="http://labens.ct.utfpr.edu.br"><img src="{% static 'img/labens.png' %}" alt="Logo LABENS" title="LABENS" /></a>
    <h1>Monitoramento das Estações de Pesquisa em Energia Solar</h1>
  </header>
  <nav>
    <div class="card">
      <ul>
        <li><a href="painelCampus" class="btn btn-primary btn-lg btn-block">Painel dos Campi</a></li>
      </ul>
  </div>
  </nav>
  <footer>
    <p>Todas as informações disponibilizadas neste projeto deverão necessariamente referenciar a fonte como sendo: &quot;Rede de Estações de Pesquisa em Energia Solar&quot;, coordenada pelo Laboratório de Energia Solar - LABENS da UTFPR Campus Curitiba. Projeto patrocinado com recursos e em parceria com a COPEL-Distribuição, e com apoio do LABREN/INPE. A rede de estações faz parte do Projeto P&amp;D ANEEL/COPEL Distribuição - PD 2866-0464/2017 - Metodologia para Análise, Monitoramento e Gerenciamento da Geração Distribuída por Fontes Incentivadas.</p>
    <div class="footer-logo">
      <a href="http://www.copel.com"><img src="{% static 'img/copel.png' %}" alt="Logo COPEL" title="COPEL" /></a>
      <a href="https://www.aneel.gov.br/"><img src="{% static 'img/aneel.png' %}" alt="Logo ANEEL" title="ANEEL" /></a>
      <a href="http://portal.utfpr.edu.br"><img src="{% static 'img/utfpr.png' %}" alt="Logo UTFPR" title="UTFPR" /></a>
      <a href="http://labren.ccst.inpe.br/"><img src="{% static 'img/labren.png' %}" alt="Logo LABREN" title="LABREN" /></a>
      <a href="http://inpe.br/"><img src="{% static 'img/inpe.png' %}" alt="Logo INPE" title="INPE" /></a>
    </div>
  </footer>
</body>
</html>
