{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>LABENS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="refresh" content="300" />
  <link rel="stylesheet" href="{% static 'css/style-indicesDeMerito.css' %}" />
</head>
<body>
  <header>
    <div class="logo">
      <img src="{% static 'img/utfpr.png' %}" alt="Logo UTFPR" title="UTFPR" />
      <img src="{% static 'img/copel.png' %}" alt="Logo COPEL" title="COPEL" />
      <img src="{% static 'img/labens.png' %}" alt="Logo LABENS" title="LABENS" />
    </div>
    <h1>Indices De Mérito</h1>
    </header>
    <section class="tabela">
      <div class="tabela">
        <h1>Energia Gerada (kWh)</h1>
        <table>
          <thead>
            <tr>
              <th rowspan="2" scope="col">Câmpus</th>
              <th colspan="2" scope="col">Monocristalino</th>
              <th colspan="2" scope="col">Policristalino</th>
              <th colspan="2" scope="col">CIGS</th>
              <th colspan="2" scope="col">CdTe</th>
            </tr>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Campo Mourão</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Cornélio Procópio</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Curitiba</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Medianeira</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Pato Branco</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Ponta Grossa</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="tabela">
      <div class="tabela">
        <h1>Fator de Capacidade (%)</h1>
        <table>
          <thead>
            <tr>
              <th rowspan="2" scope="col">Câmpus</th>
              <th colspan="2" scope="col">Monocristalino</th>
              <th colspan="2" scope="col">Policristalino</th>
              <th colspan="2" scope="col">CIGS</th>
              <th colspan="2" scope="col">CdTe</th>
            </tr>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Campo Mourão</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Cornélio Procópio</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Curitiba</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Medianeira</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Pato Branco</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Ponta Grossa</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="tabela">
      <div class="tabela">
        <h1>Produtividade (kWh/kWp)</h1>
        <table>
          <thead>
            <tr>
              <th rowspan="2" scope="col">Câmpus</th>
              <th colspan="2" scope="col">Monocristalino</th>
              <th colspan="2" scope="col">Policristalino</th>
              <th colspan="2" scope="col">CIGS</th>
              <th colspan="2" scope="col">CdTe</th>
            </tr>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Campo Mourão</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Cornélio Procópio</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Curitiba</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Medianeira</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Pato Branco</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Ponta Grossa</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="tabela">
      <div class="tabela">
        <h1>Taxa de desempenho (%)</h1>
        <table>
          <thead>
            <tr>
              <th rowspan="2" scope="col">Câmpus</th>
              <th colspan="2" scope="col">Monocristalino</th>
              <th colspan="2" scope="col">Policristalino</th>
              <th colspan="2" scope="col">CIGS</th>
              <th colspan="2" scope="col">CdTe</th>
            </tr>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
              <th scope="col">Dia</th>
              <th scope="col">Mês</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Campo Mourão</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Cornélio Procópio</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Curitiba</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Medianeira</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Pato Branco</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Ponta Grossa</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
</body>
</html>
