{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html>
<head>
  <title>LABENS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style-index.css' %}" />
</head>
<body>
  <div class="container">
    <h1>Atualização dos arquivos</h1>
    {% if alarme %}
    <div class="alert alert-danger">
      <h2>Alarmes ativos</h2>
      <p>Existem alarmes ativos que ainda não tiveram sua visualização confirmada</p>
      <p>Clique abaixo para lima-los</p>
      <form action="limpaAlarmes" method="post">
        <div class="form-check">
          <input type="checkbox" name="confirm" value="1" id="limpaAlarmeConfirm" class="form-check-input" />
          <label for="limpaAlarmeConfirm" class="form-check-label">Confirmar limpeza dos alarmes enviados por e-mail</label>
      </div>
        <button type="submit" class="btn btn-outline-danger btn-sm">Limpar Alarmes</button>
      </form>
    </div>
    {% endif %}
  {% for campus in leituras %}
    <h2>{{ campus.campus }}</h2>
    <table class="table table-striped">
    <tr>
      <th scope="col">Arquivo</th>
      <th scope="col">Ultima atualização (UTC)</th>
      <th scope="col">Tempo sem atualização (s)</th>
    </tr>
    {% for tabela in campus.tabelas %}
    <tr>
      <td>{{ tabela.file }}</td>
      <td>{{ tabela.last_update }}</td>
      <td{% if tabela.no_update_time.error == 1 %} style="color: #f00;"{% endif %}>{{ tabela.no_update_time.text }}</td>
    </tr>
    {% endfor %}
    </table>
  {% endfor %}
  </div>
</body>
</html>
