{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>LABENS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style-index.css' %}" />
</head>
<body>
  <header>
    <img src="{% static 'img/utfpr.png' %}" alt="Logo UTFPR" title="UTFPR" />
    <img src="{% static 'img/copel.png' %}" alt="Logo COPEL" title="COPEL" />
    <img src="{% static 'img/labens.png' %}" alt="Logo LABENS" title="LABENS" />
  </header>
  <section>
    <div class="card">
      <form action="login" method="post">
        {% if loginErr %}
        <div class="alert alert-danger">Senha Incorreta</div>
        {% endif %}
        <input type="password" name="passwd" placeholder="senha"  class="form-control" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
      </form>
    </div>
  </section>
</body>
</html>
