{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>LABENS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style-index.css' %}" />
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
  <script src="{% static 'js/modernizr-inputtypes.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
      function enableData(radio){
        if (radio.checked){
          document.getElementById('data').disabled = false;
          document.getElementById('data').required = true;
        }
      }
      function disableData(radio){
        if (radio.checked){
          document.getElementById('data').disabled = true;
          document.getElementById('data').required = false;
        }
      }

      function selectEst(){
        var estacoes = { {% for campus in campi%} '{{campus.cod}}':'{{campus.estTipo}}',{% endfor %} };
        estTipo = estacoes[document.getElementById('campus').value];

        estOpt = 'est';
        estOpt = estOpt.concat(estTipo);
        document.getElementById(estOpt).checked = true;
      }

      function acessarPagina(form){
        var url = "/painelCampus/";
        url = url.concat(form.elements['campus'].value);
        if(form.elements['estacao'].value != ''){
          url = url.concat(form.elements['estacao'].value)
        }
        if(form.elements['dataopt'].value == '1'){
          url = url.concat('?data=');
          url = url.concat(form.elements['data'].value)
        }
        window.location.href = url;
      }
      window.onload = function(){
        selectEst();

        if(!Modernizr.inputtypes.date){
          alert("Seu navegador não é totalmente compatível com o padrão html5. Alguns recursos podem não funcionar corretamente");
          var noInputDataMsg = document.createElement('span');
          noInputDataMsg.style = "color: #f00;";

          var noInputDataText = document.createTextNode("Seu navegador não é compatível com o campo de data. A data deve ser inserida manualmente no formato aaaa-mm-dd");
          noInputDataMsg.appendChild(noInputDataText);

          var dataInput = document.getElementById("data");
          dataInput.parentNode.insertBefore(noInputDataMsg,dataInput);
        }
      }
  </script>
</head>
<body>
  <header>
    <a href="http://labens.ct.utfpr.edu.br"><img src="{% static 'img/labens.png' %}" alt="Logo LABENS" title="LABENS" /></a>
    <h1>Monitoramento das Estações de Pesquisa em Energia Solar</h1>
  </header>
  <nav>
    <div class="card">
      <form onsubmit="acessarPagina(this);return false;">
        <h2>Opçoẽs avançadas</h2>
        <div class="form-group">
          <label for="campus">Selecione o campus</label>
          <select id="campus" name="campus" class="form-control" onchange="selectEst();">
            {% for campus in campi %}
            <option value="{{ campus.cod }}" class="form-control">{{ campus.nome }}</option>
            {% endfor %}
          </select>
        </div>
        <hr />
        <span>Tipo de estação</span>
        <div class="form-check">
          <input type="radio" name="estacao" value="0" id="est0" class="form-check-input">
          <label for="est0" class="form-check-label">SONDA</label>
        </div>
        <div class="form-check">
          <input type="radio" name="estacao" value="1" id="est1" class="form-check-input">
          <label for="est1" class="form-check-label">EPE</label>
        </div>
        <hr />
        <span>Data</span>
        <div class="form-check">
          <input type="radio" name="dataopt" value="0" id="dataopthoje" class="form-check-input" checked onclick="disableData(this);">
          <label for="dataopthoje" class="form-check-label">Hoje</label>
        </div>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input type="radio" name="dataopt" value="1" id="dataoptant" class="form-check-input" onclick="enableData(this);">
              <label for="dataoptant" class="form-check-label">Dias anteriores</label>
            </div>
          </div>
          <div class="col-auto">
            <input type="date" name="data" id="data" max="{{ datamax }}" class="form-control" disabled>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Acessar</button>
      </form>
    </div>
  </nav>
</body>
</html>
